.active-members-parent{
    background-color: var(--sectionBg);
}

.active-members-cards{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5,auto);
    flex-wrap: wrap;
    grid-gap: 30px;
}


/*IMAGE SECTION    IMAGE SECTION   IMAGE SECTION*/
.image-parent{
    background-image: url("../../assets/image-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10% 0;
    background-color: rgba(37, 37, 56, 0.39);
    background-blend-mode:  overlay;
}

.image-caption{
    display: flex;
    justify-content: flex-end;
}
.image-caption-inner{
    width: 40%;

}
.image-caption-inner h1 , p , button{
    color: var(--white);
}
.image-caption-inner h1{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 20px;
}
.image-caption-inner span{
    position: relative;

}
.image-caption-inner span::after{
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--red);
    left: 0;
    bottom: -6px;
}
.image-caption-inner p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 35px;
    font-family: var(--open-sans);
}
/*IMAGE SECTION    IMAGE SECTION   IMAGE SECTION*/

/*COMMUNITY SECTION COMMUNITY SECTION*/
.community{
    background-color: var(--sectionBg);
}
.tab-parent{
    margin-top: 30px;
}
.tab-parent .nav .nav-item .nav-link{
    font-size: 13px;
    background-color: transparent;
    color: var(--leadText);
    text-align: center;
    position: relative;
    padding: 10px 58px;
    transition: all 300ms ease;
}
.tab-parent .nav .nav-item{
    position: relative;
}
.tab-parent .nav .nav-item::after{
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: rgb(226, 226, 226);
    transition: all 300ms ease;
}
.tab-parent .nav .nav-item:hover::after{
    background-color: #ddbfc4;
}
.tab-parent .nav .nav-item:hover .nav-link{
    color: var(--red) ;
}
.tab-parent .nav .nav-item .active::after{
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: var(--red) !important;
    z-index: 2;
    transition: all 300ms ease;
}
.tab-parent .nav .nav-item .active{
    color: var(--red);
}

.community-cards{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 30px;
    padding-top: 25px;
}
/*COMMUNITY SECTION COMMUNITY SECTION*/


/*JOIN-GROUPS-MEMBERS SECTION  JOIN-GROUPS-MEMBERS-SECTION*/
.join-groups-members-inner{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}
.reverse-join-groups-members-inner{
    grid-template-columns: 60% 40% !important;
}
.join-groups-members-inner div{
    padding: 0 15px;
}
.join-groups-members-inner-caption h1{
    font-size: 30px;
    color: var(--leadText);
    margin-bottom: 20px;
}
.join-groups-members-inner-caption p {
    font-size: 18px;
    color: var(--leadText);
    margin-bottom: 30px;
}

.join-groups-members-inner-img img{
    width: 100%;
}
/*JOIN-GROUPS-MEMBERS SECTION  JOIN-GROUPS-MEMBERS-SECTION*/


/*REASON SECTION   REASON SECTION*/

.reasons{
    background-color: var(--sectionBg);
}
.reasons-heading{
    text-align: center;
}
.reasons-heading h1{
    font-size: 30px;
}
.reasons-heading p{
    margin-top: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    color: var(--lightBlue);
}
.reasons-cards-parent{

    display: grid;
    padding: 60px 174px;
    grid-template-columns: repeat(3,auto);
    gap: 30px;
    justify-content: center;
}
.reasons-cards-inner{
    background-color: var(--white);
    border-radius: 6px;
    position: relative;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.07);
}
.reasons-cards-parent .reasons-avatar{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: var(--red);
    padding: unset ;
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
    transition: all 280ms ease;

}
.reasons-cards-parent div:first-child .reasons-avatar{
    background-color: var(--red);
}
.reasons-cards-parent div:nth-child(2) .reasons-avatar{
    background-color: var(--yellow);
}
.reasons-cards-parent div:nth-child(3) .reasons-avatar{
    background-color: var(--green);
}
.reasons-cards-parent .reasons-avatar img{
    width: 48px;
}
.reasons-cards-inner button {
    box-sizing: border-box;
    padding: 70px 20px 30px 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    transition: all 400ms ease;
}
.reasons-cards-inner button:hover div  {
    transform: translate(-50%,-50%) scale(1.05);
}
.reasons-cards-inner h6{
    font-size: 17px;
    color: var(--leadText);
    margin-bottom: 14px;
}
.reasons-cards-inner button p{
    font-size: 15px;
    color: var(--lightBlue);
    padding: 0 8px;
    margin-bottom: 0;
}
/*REASON SECTION   REASON SECTION*/



@media (min-width : 992px) and (max-width: 1199.8px)
{
    .active-members-cards{
        gap: 20px;
    }
    /*COMMUNITY SECTION SOMMUNITY SEECTION*/
    .community-cards{
        gap: 20px;
    }

    /*COMMUNITY SECTION  COMMUNITY SECTION*/
    /*REASONS SECTION REASONS SECTION*/
    .reasons-cards-parent{
        padding: 60px 130px;
    }
    .reasons-cards-inner button{
        padding :70px 20px 30px 20px;
    }
    .reasons-cards-inner button p{
        padding: 0 2px;
    }
    /*REASONS SECTION REASONS SECTION*/


    /*IMAGE  SECTION    IMAGE SECTION  */
    .image-caption-inner{
        width: 50%;
    }
    .image-caption-inner h1{
        font-size: 42px;
    }
    .image-caption-inner p{
        font-size: 16px;
    }

    /*IMAGE CAPTION   IMAGE CAPTION*/
}

@media (min-width : 768px) and (max-width : 991.8px) {
        .active-members-cards{
            display: grid;
            grid-template-columns: repeat(2,auto) ;

        }
        /*IMAGE  SECTION    IMAGE SECTION  */
        .image-caption{
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .image-caption-inner{
            width: 60%;
        }
        .image-caption-inner h1{
            font-size: 42px;
            margin-bottom: 30px;
        }
        .image-caption-inner p{
            font-size: 16px;
        }

        /*IMAGE CAPTION   IMAGE CAPTION*/

        /*COMMUNITY SECTION SOMMUNITY SEECTION*/
        .community-cards{
            grid-template-columns: repeat(2,auto) ;
            gap: 30px;
        }

        /*COMMUNITY SECTION  COMMUNITY SECTION*/

        /*JOIN-GROUPS-MEMBERS SECTION  JOIN-GROUPS-MEMBERS-SECTION*/
        .join-groups-members-inner-caption h1{
            text-align: center;
            font-size: 26px;
        }
        .join-groups-members-inner-caption p {
            text-align: center;
            font-size: 17px;
        }
        .join-groups-members-inner-caption .primary-btn{
            display: block;
            margin: 0 auto;
        }

        /*JOIN-GROUPS-MEMBERS SECTION  JOIN-GROUPS-MEMBERS-SECTION*/



        /*REASONS SECTION REASONS SECTION*/
        .reasons-heading h1{
            font-size: 24px;
            margin-bottom: 20px;
        }
        .reasons-heading p{
            font-size: 12px;
        }
        .reasons-cards-parent{
            padding: 60px 0px;
        }
        .reasons-cards-inner h6{
            font-size: 15px;
        }
        /*REASONS SECTION REASONS SECTION*/

    
}

@media (min-width : 576px) and (max-width : 767.8px) {
    .active-members-cards{
        display: grid;
        grid-template-columns: repeat(2,auto) ;
        flex-wrap: wrap;
    }
    /*IMAGE  SECTION    IMAGE SECTION  */
    .image-parent{
        padding: 50px 0;
    }
    .image-caption{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .image-caption-inner{
        width: 90%;
    }
    .image-caption-inner h1{
        font-size: 28px;
        margin-bottom: 30px;
    }
    .image-caption-inner p{
        font-size: 18px;
    }

    /*IMAGE CAPTION   IMAGE CAPTION*/

    /*COMMUNITY SECTION SOMMUNITY SEECTION*/
    .community-cards{
        grid-template-columns: repeat(2,auto) ;
        gap: 30px;
    }

    /*COMMUNITY SECTION  COMMUNITY SECTION*/


    /*JOIN-GROUPS-MEMBERS SECTION  JOIN-GROUPS-MEMBERS-SECTION*/
    .join-groups-members-inner{
        grid-template-columns: 1fr;
    }
    .reverse-join-groups-members-inner{
        grid-template-columns: 1fr !important;
    }
    .join-groups-members-inner-img{
        grid-row-start: 1 ;
        margin-bottom: 20px;
    }
    .join-groups-members-inner-caption h1{
        text-align: center;
        font-size: 26px;
    }
    .join-groups-members-inner-caption p {
        text-align: center;
        font-size: 17px;
    }
    .join-groups-members-inner-caption .primary-btn{
        display: block;
        margin: 0 auto;
    }

    /*JOIN-GROUPS-MEMBERS SECTION  JOIN-GROUPS-MEMBERS-SECTION*/




    /*REASONS SECTION REASONS SECTION*/
    .reasons-cards-parent{
        padding: 60px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /*grid-template-columns: repeat(2,auto);
        gap: 30px;*/

    }
    .reasons-cards-parent div:last-child{
       margin:  0 auto;
    }
    .reasons-cards-inner{
        max-width: 47% !important;
        box-sizing: border-box;
        
    }
    .reasons-cards-inner button{
        padding: 24px 20px;
    }
    .reasons-cards-inner button .reasons-avatar{
        position: unset;
        transform: unset;
        margin:  0 auto 20px auto;
    }
    .reasons-cards-inner button:hover div  {
        transform:  scale(1.05);
    }
    .reasons-heading h1{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .reasons-heading p{
        font-size: 12px;
    }

    .reasons-cards-inner h6{
        font-size: 15px;
    }
    /*REASONS SECTION REASONS SECTION*/

    
}

@media (max-width : 576px) {
    .active-members-cards{
        display: grid;
        grid-template-columns: repeat(1,auto) ;
        flex-wrap: wrap;
    }

    /*IMAGE  SECTION    IMAGE SECTION  */
    .image-parent{
        padding: 50px 0;
    }
    .image-caption{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .image-caption-inner{
        width: 90%;
    }
    .image-caption-inner h1{
        font-size: 25px;
        margin-bottom: 30px;
    }
    .image-caption-inner p{
        font-size: 17px;

    }

    /*IMAGE CAPTION   IMAGE CAPTION*/


    /*COMMUNITY SECTION SOMMUNITY SEECTION*/
    .community-cards{
        grid-template-columns: repeat(1,auto) ;
        gap: 30px;
    }
    .tab-parent .nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
        
    }
    .tab-parent .nav .nav-item{
        width: 100%;
        text-align: center;
    }
    .tab-parent .nav .nav-item .nav-link{
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        
    }

    /*COMMUNITY SECTION  COMMUNITY SECTION*/


    
    /*JOIN-GROUPS-MEMBERS SECTION  JOIN-GROUPS-MEMBERS-SECTION*/
    .join-groups-members-inner div{
        padding: unset;
    }
    .join-groups-members-inner{
        grid-template-columns: 1fr;
    }
    .reverse-join-groups-members-inner{
        grid-template-columns: 1fr !important;
    }
    .join-groups-members-inner-img{
        grid-row-start: 1 ;
    }
    .join-groups-members-inner-caption h1{
        text-align: center;
        font-size: 21px;
    }
    .join-groups-members-inner-caption p {
        text-align: center;
        font-size: 18px;
    }
    .join-groups-members-inner-caption .primary-btn{
        display: block;
        margin: 0 auto;
    }

    /*JOIN-GROUPS-MEMBERS SECTION  JOIN-GROUPS-MEMBERS-SECTION*/




    /*REASONS SECTION REASONS SECTION*/
    .reasons .custom-section-padding{
        padding: 50px 0;
    }
    .reasons-cards-parent{
        padding: 40px 0 0 0;
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fill,100%);
    }
    .reasons-cards-inner button .reasons-avatar{
        position: unset;
        transform: unset;
        margin:  0 auto 20px auto;
    }
    .reasons-cards-inner button:hover div  {
        transform:  scale(1.05);
    }
    .reasons-cards-inner button{
        padding: 24px;
    }
    .reasons-heading h1{
        font-size: 21px;
        margin-bottom: 20px;
    }
    .reasons-heading p{
        font-size: 12px;
    }
    .reasons-cards-inner h6{
        font-size: 15px;
    }
    /*REASONS SECTION REASONS SECTION*/
    

}