.active-members-parent{
    background-color: var(--sectionBg);
}

.active-members-cards{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5,auto);
    flex-wrap: wrap;
    grid-gap: 30px;
}


/*REASON SECTION   REASON SECTION*/

.reasons{
    margin-top: 100px;
    background-color: var(--sectionBg);
}
.reasons-heading{
    text-align: center;
}
.reasons-heading h1{
    font-size: 30px;
}
.reasons-heading p{
    margin-top: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    color: var(--lightBlue);
}
.reasons-cards-parent{

    display: grid;
    padding: 60px 174px;
    grid-template-columns: repeat(3,auto);
    gap: 30px;
    justify-content: center;
}
.reasons-cards-inner{
    background-color: var(--white);
    border-radius: 6px;
    position: relative;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.07);
}
.reasons-cards-parent .reasons-avatar{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: var(--red);
    padding: unset ;
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
    transition: all 280ms ease;

}
.reasons-cards-parent div:first-child .reasons-avatar{
    background-color: var(--red);
}
.reasons-cards-parent div:nth-child(2) .reasons-avatar{
    background-color: var(--yellow);
}
.reasons-cards-parent div:nth-child(3) .reasons-avatar{
    background-color: var(--green);
}
.reasons-cards-parent .reasons-avatar img{
    width: 48px;
}
.reasons-cards-inner button {
    box-sizing: border-box;
    padding: 70px 20px 30px 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    transition: all 400ms ease;
}
.reasons-cards-inner button:hover div  {
    transform: translate(-50%,-50%) scale(1.05);
}
.reasons-cards-inner h6{
    font-size: 17px;
    color: var(--leadText);
    margin-bottom: 14px;
}
.reasons-cards-inner button p{
    font-size: 15px;
    color: var(--lightBlue);
    padding: 0 8px;
    margin-bottom: 0;
}
/*REASON SECTION   REASON SECTION*/

/*HELP CENTER HELP CENTER*/
.help-center .custom-section-padding{
    padding: 8% 0;
}

.help-center-inner{
    text-align: center;
}
.help-center-inner h1{
    color: var(--leadText);
    margin-bottom: 30px;
    font-size: 35px;
}
.help-center-inner p{
    margin-bottom: 30px;
    font-size: 17px;
    color: var(--leadText);
}
.help-center-inner button{
    background-color: var(--white);
    border: 2px solid var(--red);
    border-radius: 5px;
    padding: 14px 35px;
    color: var(--red);
    font-weight: 500;
    transition: all 300ms ease;
}
.help-center-inner button:hover{
    background-color: var(--red);
    color: var(--white);
}
.help-center-inner button i{
    font-size: 16px;
    margin-right: 2px;
}
/*HELP CENTER HELP CENTER   */

@media (min-width : 992px) and (max-width: 1199.8px)
{
    .active-members-cards{
        gap: 20px;
    }
    /*REASONS SECTION REASONS SECTION*/
    .reasons-cards-parent{
        padding: 60px 130px;
    }
    .reasons-cards-inner button{
        padding :70px 20px 30px 20px;
    }
    .reasons-cards-inner button p{
        padding: 0 2px;
    }
    /*REASONS SECTION REASONS SECTION*/
}

@media (min-width : 768px) and (max-width : 991.8px) {
    .active-members-cards{
        display: grid;
        grid-template-columns: repeat(2,auto) ;
        flex-wrap: wrap;
    }
        /*REASONS SECTION REASONS SECTION*/
        .reasons-heading h1{
            font-size: 24px;
            margin-bottom: 20px;
        }
        .reasons-heading p{
            font-size: 12px;
        }
        .reasons-cards-parent{
            padding: 60px 0px;
        }
        .reasons-cards-inner h6{
            font-size: 15px;
        }
        /*REASONS SECTION REASONS SECTION*/
    
}

@media (min-width : 576px) and (max-width : 767.8px) {
    .active-members-cards{
        display: grid;
        grid-template-columns: repeat(2,auto) ;
        flex-wrap: wrap;
    }
    .help-center .custom-section-padding{
        padding: 50px 0;
    }
    .help-center-inner h1{
        font-size: 26px;
    }
    .help-center-inner p{
        margin-bottom: 30px;
        font-size: 18px;
    }
    /*REASONS SECTION REASONS SECTION*/
    .reasons-cards-parent{
        padding: 60px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /*grid-template-columns: repeat(2,auto);
        gap: 30px;*/

    }
    .reasons-cards-parent div:last-child{
       margin:  0 auto;
    }
    .reasons-cards-inner{
        max-width: 47% !important;
        box-sizing: border-box;
        
    }
    .reasons-cards-inner button{
        padding: 24px 20px;
    }
    .reasons-cards-inner button .reasons-avatar{
        position: unset;
        transform: unset;
        margin:  0 auto 20px auto;
    }
    .reasons-cards-inner button:hover div  {
        transform:  scale(1.05);
    }
    .reasons-heading h1{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .reasons-heading p{
        font-size: 12px;
    }

    .reasons-cards-inner h6{
        font-size: 15px;
    }
    /*REASONS SECTION REASONS SECTION*/
    
}

@media (max-width : 576px) {
    .active-members-cards{
        display: grid;
        grid-template-columns: repeat(1,auto) ;
        flex-wrap: wrap;
    }
    .help-center .custom-section-padding{
        padding: 50px 0;
    }
    .help-center-inner h1{
        font-size: 22px;
    }
    .help-center-inner p{
        margin-bottom: 30px;
        font-size: 18px;
    }
    /*REASONS SECTION REASONS SECTION*/
    .reasons .custom-section-padding{
        padding: 50px 0;
    }
    .reasons-cards-parent{
        padding: 40px 0 0 0;
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fill,100%);
    }
    .reasons-cards-inner button .reasons-avatar{
        position: unset;
        transform: unset;
        margin:  0 auto 20px auto;
    }
    .reasons-cards-inner button:hover div  {
        transform:  scale(1.05);
    }
    .reasons-cards-inner button{
        padding: 24px;
    }
    .reasons-heading h1{
        font-size: 21px;
        margin-bottom: 20px;
    }
    .reasons-heading p{
        font-size: 12px;
    }
    .reasons-cards-inner h6{
        font-size: 15px;
    }
    /*REASONS SECTION REASONS SECTION*/
    
}