/*MEMBER SEARCH    MEMBER SEARCH*/


.page-content{
    margin-top: 73px;
    background-color: var(--sectionBg);
}

.page-content .custom-container{
    max-width: 1900px;
    padding: 0 3%;
    box-sizing: border-box;
}
.member-search-parent{
    padding:  55px 2% 30px 2%;
}
.member-search-inner{
    background-color: var(--white);
    padding: 16px 16px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:  0 0 40px 1px rgba(129, 128, 128, 0.1);
}
.total-members{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total-members .total-members-inner {
    display: flex;
    align-items: center;
    color: var(--lightBlue);

}
.total-members-inner .globe-icon{
    background-image:  linear-gradient(300deg, #24c6dc , #514a9d);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.total-members-inner .globe-icon img{
    width: 16px;
}
.total-members-inner h6{
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    margin-left: 10px;
    font-family: var(--open-sans);
}
.total-members-inner p{
    margin-bottom: 0;
    margin-left: 5px;
    background-color: #f0f3f4;
    color: var(--navBg);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 12px;
    font-family: var(--open-sans);
}
.active-select{
   background-color: #f0f3f4;
   color: var(--lightBlue2);
   border-radius: 4px;
   padding: 10px 17px;
   font-size: 13px;
   font-weight: 600;
   font-family: var(--open-sans);
   position: relative;
}
.active-select img{
    margin-left: 10px;
}
.active-select::after{
    position: absolute;
    content: '';
    display: block;
    top: 0;
    right: -10px;
    height: 99%;
    width: 1px;
    background-color: rgba(0,0,0,0.1);
}

.member-search{
    width: 45%;
    padding-left: 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.member-search-form input{
    background-color: #f0f3f4;
    border: none;
    border-radius: 5px;
    padding: 10px 14px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--lightBlue2);
}
.member-search-form input:last-child{
    padding: 10px 18px;
    margin-left: 8px;
    background-color: var(--lightblue3);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: unset;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    font-family: var(--open-sans);
}
.member-search-form input::placeholder{
    color: var(--lightBlue);
}
.search-directory{
    width: 39px;
    height: 39px;
    border-radius: 5px;
    background-color: var(--sectionBg);
    transition: all 250ms ease;
    display: grid;
    place-items: center;
    position: relative;
}
.search-directory:hover::after{
    opacity: 1;
}
.search-directory:hover::before{
    opacity: 1;
}
.search-directory::after{
    transition: all 200ms ease;
    opacity: 0;
    position: absolute;
    display: block;
    content: '';
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid var(--lightBlue2);
    top: -8px;
      
}
.search-directory::before{
    transition: all 200ms ease;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Search Directory';
    top: -35px;
    width: 120px;
    height: 27px;
    border-radius: 16px;
    background-color: var(--lightBlue2);
    color: white;
    font-size: 13px;
}
.search-directory img{
    width: 14px;
}
.search-directory:hover{
    cursor: pointer;
    background-color: #f5cbd3;
    box-shadow: 0px 0px 10px 6px rgba(129, 128, 128, 0.1);
}
/*MEMBER SEARCH    MEMBER SEARCH*/

/*MEMBER DIRECTORY CARDS   MEMBER DIRECTORY CARDS*/
.member-directory-cards{
    padding: 0 2%;
    display: grid;
    grid-template-columns: repeat(5,auto);
    gap:30px;
}



/*MEMBER DIRECTORY CARDS  MEMBER DIRECTORY CARDS*/

/*PAGE COUNT*/
.page-count{
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-count h5{
    font-family: var(--open-sans);
    font-weight: 500;
    color: #8c8fa0;
    font-size: 14px;
    padding: 40px 0;
    margin-bottom: unset;
}
.page-count .active{
    background-color: var(--red);
}
.page-numbers-parent{
    display: flex;
}
.page-number{
    width: 35px;
    height: 35px;
    margin: 0 6px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    background-color: var(--white);
    color: var(--lightBlue);
    display: grid;
    place-items: center;
}
/*PAGE COUNT*/






@media (min-width: 992px) and (max-width: 1199.8px)
{

    
}



@media (min-width: 768px) and (max-width: 991.8px){
    .page-content{
        margin-top: 49px;
    }
    /*MEMBER SEARCH    MEMBER SEARCH*/
    .member-search-parent {
        padding: 30px 2% 30px 2%;
    }
    .member-search-inner{
        flex-direction: column;
        
    }
    .total-members{
        width: 100%;
        margin-bottom: 20px;
    }
    .member-search{
        width: 100%;
        padding: unset;
    }
    .member-search-form{
        width: 60%;
    }
    .member-search-form form{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .member-search-form form input:first-child{
        width: 70%;
    }
    .member-search-form form input:last-child{
        width: 25%;
        margin-left: unset;
    }
    .active-select::after{
        display: none;
    }
    
    /*MEMBER SEARCH    MEMBER SEARCH*/
}

@media (min-width: 576px) and (max-width: 767.8px){
    .page-content{
        margin-top: 50px;
    }
    /*MEMBER SEARCH    MEMBER SEARCH*/
    .member-search-parent {
        padding: 30px 2% 30px 2%;
    }
    .member-search-inner{
        flex-direction: column;
        
    }
    .total-members{
        width: 100%;
        margin-bottom: 20px;
    }
    .member-search{
        width: 100%;
        padding: unset;
    }
    .member-search-form{
        width: 70%;
    }
    .member-search-form form{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .member-search-form form input:first-child{
        width: 70%;
    }
    .member-search-form form input:last-child{
        width: 25%;
        margin-left: unset;
    }
    .active-select::after{
        display: none;
    }
    /*MEMBER SEARCH    MEMBER SEARCH*/
}


@media (max-width: 575.8px)
{
    .page-content{
        margin-top: 50px;
    }
    /*MEMBER SEARCH    MEMBER SEARCH*/
    .total-members{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 20px;
    }
    .total-members .total-members-inner {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .member-search-parent {
        padding: 30px 2% 30px 2%;
    }
    .member-search-inner{
        flex-direction: column;
        
    }
    .total-members{
        width: 100%;
        margin-bottom: 20px;
    }
    .member-search{
        width: 100%;
        padding: unset;
        flex-wrap: wrap;
    }
    .member-search-form{
        width: 100%;
    }
    .member-search-form form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .member-search-form form input:first-child{
        width: 100%;
        font-size: 12px;
    }
    .member-search-form form input:last-child{
        width: 50%;
        margin-top: 10px;
        margin-left: unset;
        font-size: 12px;
    }
    .active-select::after{
        display: none;
    }
    .search-directory::before{
        display: none;
    }
    .search-directory::after{
        display: none;
    }
    /*MEMBER SEARCH    MEMBER SEARCH*/
}
